@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&family=Sedgwick+Ave+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.imek:hover {
  cursor: pointer;
  opacity: 0.5;
  overflow: hidden;
}

.popup-image {
  background: rgba(0, 0, 0, 0.9);
  display: none;
}

.popup-image img {
  transform: translate(-50%, -50%);
}
